.app-matrix {
  .app-matrix__grid {
    display: grid;
    grid-template-columns: repeat(var(--gridTemplateColumns), 1fr);
    margin: 0 auto;
    width: fit-content;
  }

  .app-matrix__buttons {
    text-align: center;
  }
  .app-matrix__item {
    aspect-ratio: 1;
    text-align: center;
    max-width: 50px;
    max-height: 50px;
  }
}
